* {
  margin: 0;
}

body {
  height: 100vh;
  width: 100vw;
  background: #222222;
  position: relative; 
  overflow: hidden;
}

#container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
}


.keyboard-arrows {
  /* background-color: brown;  */
  position: fixed;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1; 
  touch-action: manipulation;
  width: min(95%, 300px);
}

.keyboard-arrows > div {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.arrow {
  font-size: 24px;
  width: 100px;
  height: 100px;
  margin: 2px;
  border: none;
  background-color: #f0f0f0;
  color: #333;
  cursor: pointer;
  z-index: 2;
  border-radius: 5%;
  touch-action: manipulation;
  opacity: 0.3
}

button:hover {
  background-color: #ccc;
}

#container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
}

#portfolio {
  
  margin-right: 10px ;  
  margin-left: 10px ; 
  margin-top: 10px ; 
  margin-bottom: 10px ; 
  
  width: 48px;
  height: 48px;
  z-index: 3;
  position: relative; 

}

.btnBalloons {
  
  margin-right: 10px ;  
  margin-left: 10px ; 
  margin-top: 10px ; 
  margin-bottom: 10px ; 
  
  width: 48px;
  height: 48px;
  z-index: 3;
  position: relative; 
  opacity: 0.3

}